# Configuration file

# Deployment location
deployment:
  location: OpenShift

# Camel
camel:
  context:
    name: books-api-v2
# MicroProfile OpenAPI configuration
# Reference: https://quarkus.io/guides/openapi-swaggerui
## Serve only static OpenAPI document
mp:
  openapi:
    scan:
      disable: true

# Quarkus
quarkus:
  # CORS configuration
  http:
    cors:
      enabled: true
      origins: "*" # Allows all origins for demo purposes
  # Swagger UI configuration
  # Reference: https://quarkus.io/guides/openapi-swaggerui
  ## Always include the Swagger UI in the generated OpenAPI specification
  swagger-ui:
    always-include: true

  # Enable native SSL support
  ssl:
    native: true

  ## Quarkus OpenShift extension configuration
  # Eventually, the client should trust a self signed certificate presented by the API server
  kubernetes-client:
    trust-certs: true

  openshift:
    # The kind of the deployment resource to use. Supported values are 'Deployment', 'StatefulSet', 'Job', 'CronJob' and 'DeploymentConfig' defaulting to the latter.
    deployment-kind: Deployment
    # Part of the `library-books-api` Application Group
    part-of: library-books-api
    # Apache Camel icon
    labels:
      app.openshift.io/runtime: camel
    # The build config strategy to use
    build-strategy: DOCKER
    # The default Dockerfile to use for jvm builds
    jvm-dockerfile: src/main/docker/Dockerfile.jvm
    # The default Dockerfile to use for native builds
    native-dockerfile: src/main/docker/Dockerfile.native
    # The number of desired pods
    replicas: 1
    # Expose OpenShift route
    route:
      expose: true
      tls:
        termination: edge
    # The type of service that will be generated for the application
    service-type: ClusterIP
    # CPU and Memory resources requirements when deployed on Kubernetes/OpenShift
    resources:
      requests:
        cpu: 30m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 512Mi
    # Generation of ServiceMonitor resource
    ## By default, a ServiceMonitor resource is generated.
    ## Disabled means no ServiceMonitor resource is generated   
    prometheus:
      generate-service-monitor: false

  # OpenTelemetry configuration. This is leveraged by Camel Quarkus OpenTelemetry extension
  ## Identifier for the origin of spans created by the application
  application:
    name: ${camel.context.name}
  otel:
    sdk:
      disabled: false
    logs:
      enabled: true

  log:
    console:
      format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p traceId=%X{traceId}, parentId=%X{parentId}, spanId=%X{spanId}, sampled=%X{sampled} [%c{2.}] (%t) %s%e%n"

  # Management endpoints on a separate interface
  ## By default, management endpoints are exposed on the management port (9876)
  ## Disabled means expose those endpoints in the regular service port (default, 8080)
  management:
    enabled: true

  ## Camel Quarkus
  camel:
    jolokia:
      kubernetes:
        client-principal: cn=hawtio-online.hawtio.svc
    metrics:
      enable-message-history: true

    # native mode configuration
    native:
      # A comma separated list of Ant-path style patterns to match class names
      # that should be registered for reflection.
      # Reference: https://camel.apache.org/camel-quarkus/latest/user-guide/native-mode.html#reflection
      reflection:
        include-patterns: java.lang.Exception,org.apache.camel.component.jsonvalidator.JsonValidationException
        
  ## Quarkus native build 
  native:
    # If all character sets should be added to the native image. This increases image size
    add-all-charsets: true
    # If this build should be done using a container runtime. 
    # If this is set docker will be used by default, unless container-runtime is also set.
    container-build: true
    # A comma separated list of Ant-path style patterns to match resources
    # that should be <strong>included</strong> in the native executable. By default,
    # resources not selected by quarkus itself are ignored. Then, inclusion
    # of additional resources could be triggered with
    # <code>includePatterns</code>. When the inclusion patterns is too
    # large, eviction of previously selected resources could be triggered
    # with <code>excludePatterns</code>.
    resources:
      includes: json-schema/*,META-INF/*
  
  # Register for indexing
  # Reference: https://camel.apache.org/camel-quarkus/latest/user-guide/native-mode.html#reflection
  index-dependency:
    jsonvalidator:
      group-id: org.apache.camel.quarkus
      artifact-id: camel-quarkus-json-validator

# Only when running in prod profile
"%prod":
  quarkus:
    # Quarkus kubernetes config extension
    kubernetes-config:
      # Enable to look up the configuration from the API server
      enabled: true
      # ConfigMaps (list of strings) to look for in the namespace that the Kubernetes Client has been configured for
      config-maps: ${camel.context.name}-config